extends layout 

block content 
    .w3-card-4 
        header.w3-container.w3-purple
            h2 #{title}
        form.w3-container(method="POST")
            fieldset 
                label(for="_id") Id 
                input.w3-input.w3-round(type="text", name="_id")
                label(for="nome") Nome
                input.w3-input.w3-round(type="text", name="nome")
                label(for="_id") Bio 
                input.w3-input.w3-round(type="text", name="bio")
                label(for="_id") Data de Nascimento 
                input.w3-input.w3-round(type="text", name="dataNasc")
                label(for="_id") Data de Obito
                input.w3-input.w3-round(type="text", name="dataObito")
                label(for="_id") Periodo  
                input.w3-input.w3-round(type="text", name="periodo")
            br 
            button.w3-purple.w3-mb-2(type="submit") Register